.header_link {
  display: flex;
  margin-bottom: 30px !important;
  font-size: 20px !important;
  color: #8a8a8a !important;
  text-decoration: none !important;
  width: 150px;
}

.header_link p {
  margin-left: 12px;
}

.header_link img {
  width: 25px;
}
