.shelf .container {
  display: flex;
}
.shelf .box {
  width: 100%;
}

.shelf {
  background-color: #f3f3f7;
  height: 100vh;
  overflow: auto;
}

.shelf .book_main {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shelf h1 {
  text-align: center;
}

.book_card {
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
}

.book_card img {
  width: 123px;
}

.book_card-title,
.book_card-author,
.book_card-rating {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  margin: 8px auto;
}

.book_card-title {
  font-size: 15px;
  width: 123px;
  text-align: center;
}

.book_card-right {
  text-align: center;
  margin-left: 10px;
}

.book_box {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .book_box {
    max-width: 760px;
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .book_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book_card {
    width: 350px;
  }
}

@media screen and (max-width: 440px) {
  .book_box {
    align-items: start;
    justify-content: flex-start;
  }

  .book_card {
    width: 320px;
    margin-left: 0;
  }
}
