.aside {
  padding: 38px 66px 0px 66px;
  text-align: center;
  min-height: 100vh;
  background-color: white !important;
  position: relative;
}

#asideBox {
  padding: 38px 66px 0px 66px;
  text-align: center;
  min-height: 100vh;
  background-color: white !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.285);
}

#asideBox ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside_link {
  display: flex;
  margin-bottom: 30px !important;
  font-size: 20px !important;
  color: #8a8a8a !important;
  text-decoration: none !important;
  width: 150px;
}

.aside_link p {
  margin-left: 12px;
}

.aside_link img {
  width: 25px;
}

.addimg {
  margin-left: -20px;
}

#asideBox h3 {
  text-align: center;
  box-shadow: 0px 0px 4px 0px #00000040;
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
}

.card {
  margin-top: 20px;
}

.aside {
  position: absolute;
  z-index: 99;
  left: -150%;
  transition: 0.3s;
  background-color: white !important;
}

.moveAside {
  position: absolute;
  z-index: 99;
  left: 0%;
  transition: 0.3s;
  background-color: white !important;
}

@media screen and (max-width: 800px) {
  #asideBox {
    padding: 40px;
  }

  .aside ul {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  #asideBox {
    padding: 10px;
  }

  #asideBox ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #asideBox h3 {
    display: flex;
    margin: 0 auto;
  }
}
