.pro {
  width: 163px !important;
  text-align: center !important;
  background-color: white !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  margin-left: 40px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px) {
  .profile {
    display: none;
  }
}

.aside_link {
  display: flex;
  margin-bottom: 30px !important;
  font-size: 20px !important;
  color: #8a8a8a !important;
  text-decoration: none !important;
  width: 150px;
}

.aside_link p {
  margin-left: 12px;
}

.aside_link img {
  width: 25px;
}

.addimg {
  margin-left: -20px;
}

.card {
  margin-top: 20px;
}

.logout_btn {
  display: none !important;
}

.logout_btn_header {
  display: block !important;
}

@media screen and (max-width: 800px) {
  #asideBox {
    padding: 40px;
  }

  .aside ul {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .logout_btn {
    display: block !important;
  }

  .logout_btn_header {
    display: none !important;
  }
}
